In [1]:
import pandas as pd
import numpy as np

# Collecting basic dataframe information

In [2]:
ted = pd.read_csv('data/ted_talks_en.csv')

In [3]:
ted.head()

,talk_id,title,speaker_1,all_speakers,occupations,about_speakers,views,recorded_date,published_date,event,native_lang,available_lang,comments,duration,topics,related_talks,url,description,transcript
0,1,Averting the climate crisis,Al Gore,{0: 'Al Gore'},{0: ['climate advocate']},{0: 'Nobel Laureate Al Gore focused the world’...,3523392,2006-02-25,2006-06-27,TED2006,en,"['ar', 'bg', 'cs', 'de', 'el', 'en', 'es', 'fa...",272.0,977,"['alternative energy', 'cars', 'climate change...","{243: 'New thinking on the climate crisis', 54...",https://www.ted.com/talks/al_gore_averting_the...,With the same humor and humanity he exuded in ...,"Thank you so much, Chris. And it's truly a gre..."
1,92,The best stats you've ever seen,Hans Rosling,{0: 'Hans Rosling'},{0: ['global health expert; data visionary']},"{0: 'In Hans Rosling’s hands, data sings. Glob...",14501685,2006-02-22,2006-06-27,TED2006,en,"['ar', 'az', 'bg', 'bn', 'bs', 'cs', 'da', 'de...",628.0,1190,"['Africa', 'Asia', 'Google', 'demo', 'economic...","{2056: ""Own your body's data"", 2296: 'A visual...",https://www.ted.com/talks/hans_rosling_the_bes...,You've never seen data presented like this. Wi...,"About 10 years ago, I took on the task to teac..."
2,7,Simplicity sells,David Pogue,{0: 'David Pogue'},{0: ['technology columnist']},{0: 'David Pogue is the personal technology co...,1920832,2006-02-24,2006-06-27,TED2006,en,"['ar', 'bg', 'de', 'el', 'en', 'es', 'fa', 'fr...",124.0,1286,"['computers', 'entertainment', 'interface desi...","{1725: '10 top time-saving tech tips', 2274: '...",https://www.ted.com/talks/david_pogue_simplici...,New York Times columnist David Pogue takes aim...,"(Music: ""The Sound of Silence,"" Simon & Garfun..."
3,53,Greening the ghetto,Majora Carter,{0: 'Majora Carter'},{0: ['activist for environmental justice']},{0: 'Majora Carter redefined the field of envi...,2664069,2006-02-26,2006-06-27,TED2006,en,"['ar', 'bg', 'bn', 'ca', 'cs', 'de', 'en', 'es...",219.0,1116,"['MacArthur grant', 'activism', 'business', 'c...",{1041: '3 stories of local eco-entrepreneurshi...,https://www.ted.com/talks/majora_carter_greeni...,"In an emotionally charged talk, MacArthur-winn...",If you're here today — and I'm very happy that...
4,66,Do schools kill creativity?,Sir Ken Robinson,{0: 'Sir Ken Robinson'},"{0: ['author', 'educator']}","{0: ""Creativity expert Sir Ken Robinson challe...",65051954,2006-02-25,2006-06-27,TED2006,en,"['af', 'ar', 'az', 'be', 'bg', 'bn', 'ca', 'cs...",4931.0,1164,"['children', 'creativity', 'culture', 'dance',...","{865: 'Bring on the learning revolution!', 173...",https://www.ted.com/talks/sir_ken_robinson_do_...,Sir Ken Robinson makes an entertaining and pro...,Good morning. How are you? (Audience) Good. It...

In [ ]:
ted.info()

In [ ]:
ted["occupations"].value_counts()

In [ ]:
ted.loc[ted["recorded_date"]=="1984-02-02"]

In [ ]:
ted["views"].sort_values(ascending=False)

In [ ]:
ted["native_lang"].value_counts()

In [ ]:
ted.loc[ted["views"]>30000000, ["title", "speaker_1", "views", "topics"]]

# Ted topics: separating and classifying

In [4]:
type(ted["topics"][0])

str

In [5]:
# column"topics": each item is a string with lots of keywords. let's make a list with all the strings:
topics_list = []
for i in range(len(ted["topics"])):
    topic = ted["topics"][i].split(",")
    topics_list.append(topic)

In [6]:
type(ted["topics"][0])

str

In [7]:
topics_list[0][2]

" 'climate change'"

In [8]:
# let's put this list of lists in one single list of keywords
single_t_list = []
for i in topics_list:
    for x in i:
        single_t_list.append(x)

In [126]:
#how many keywords do I have?
len(single_t_list)

31700

In [11]:
# clean the list: get rid of single quotes, spaces, square brackets:
# use strip to clean spaces
for i in range(len(single_t_list)):
    single_t_list[i] = single_t_list[i].replace("[","")
    single_t_list[i] = single_t_list[i].replace("'","")
    single_t_list[i] = single_t_list[i].replace("]","")
    single_t_list[i] = single_t_list[i].strip()

In [12]:
# how many unique values do we have:
len(set(single_t_list))

457

In [13]:
# how many values do we have for each keyword
list_of_topics = pd.Series(single_t_list)

In [14]:
#in percentage
list_of_topics.value_counts(normalize=True)

science          0.031325
technology       0.030883
culture          0.021451
TEDx             0.018328
global issues    0.018107
                   ...
exoskeleton      0.000032
autism           0.000032
rap              0.000032
cloud            0.000032
skateboarding    0.000032
Length: 457, dtype: float64

In [15]:
#in absolute values
list_of_topics.value_counts()

science          993
technology       979
culture          680
TEDx             581
global issues    574
                ...
exoskeleton        1
autism             1
rap                1
cloud              1
skateboarding      1
Length: 457, dtype: int64

In [16]:
# getting a more complete idea of keywords, to see which could be the ultimate topic groups
list_of_topics_df = list_of_topics.value_counts().to_frame()
list_of_topics_df.head(50)

                    0
science           993
technology        979
culture           680
TEDx              581
global issues     574
TED-Ed            563
society           557
design            518
social change     512
animation         487
business          443
health            442
history           406
education         390
humanity          388
innovation        371
biology           354
entertainment     348
future            329
art               328
communication     321
creativity        312
community         298
activism          278
medicine          266
brain             256
collaboration     251
personal growth   237
environment       236
economics         233
nature            227
health care       227
TED Fellows       223
invention         216
psychology        211
politics          210
animals           203
children          200
identity          199
women             188
life              182
climate change    172
medical research  171
human body        170
music             167
computers         167
Africa            164
storytelling      164
engineering       156
war               156

## defining what my groups will be:
topic groups:
1. technology -> technology, innovation, invention, computers, engineering
2. science -> science, future
3. culture -> culture, society, humanity, community 
4. global issues -> global issues, war, violence
5. social change -> social change, inequality, activism, collaboration
6. health -> health, health care
7. business -> business, work, money
8. personal growth -> personal growth, identity, psychology, life, death, happiness, pain
9. economics -> economics, behavioral economics
10. sustainability -> environment, nature, sustainability, energy, climate change
11. communication -> communication, storytelling, emotions
12. entertainment -> entertainment, music, film, art, dance, media
13. education -> education, children
14. medicine -> biology, , human body, medical research

## creating one column for each group and dummifying observations

In [20]:
type(ted["topics"][0])

str

In [19]:
import re

In [21]:
#making a function that finds all of the therms i defined as technology
#it takes a list and returns 0 if nothing is found, and 1 if one or more terms are found
technology = re.compile(r"technology|innovation|invention|computers|engineering")
def tech_topic(topics):
    if technology.findall(topics) == []:
        return 0
    else:
        return 1

In [22]:
#applying function to all the rows, and storing result in a new column called technology
ted["technology"] = ted["topics"].apply(tech_topic)

In [26]:
ted["technology"].value_counts(normalize=True)

0    0.693134
1    0.306866
Name: technology, dtype: float64

In [27]:
#doing the same and creating 5 columns- one for each group
science = re.compile(r"science|future")
def science_topic(topics):
    if science.findall(topics) == []:
        return 0
    else:
        return 1 

ted["science&future"] = ted["topics"].apply(science_topic)

In [29]:
culture = re.compile(r"culture|society|humanity|community")
def culture_topic(topics):
    if culture.findall(topics) == []:
        return 0
    else:
        return 1 

ted["culture"] = ted["topics"].apply(culture_topic)

In [32]:
global_issues = re.compile(r"global issues|war|violence")
def global_issues_topic(topics):
    if global_issues.findall(topics) == []:
        return 0
    else:
        return 1 

ted["global issues"] = ted["topics"].apply(global_issues_topic)

In [33]:
social_change = re.compile(r"social change|inequality|activism|collaboration")
def social_change_topic(topics):
    if social_change.findall(topics) == []:
        return 0
    else:
        return 1 

ted["social change"] = ted["topics"].apply(social_change_topic)

In [34]:
health = re.compile(r"health|health care")
def health_topic(topics):
    if health.findall(topics) == []:
        return 0
    else:
        return 1 

ted["health"] = ted["topics"].apply(health_topic)

In [35]:
business = re.compile(r"business|work|money")
def business_topic(topics):
    if business.findall(topics) == []:
        return 0
    else:
        return 1 

ted["business"] = ted["topics"].apply(business_topic)

In [36]:
personal_growth = re.compile(r"personal growth|identity|psychology|life|death|happiness|pain")
def personal_growth_topic(topics):
    if personal_growth.findall(topics) == []:
        return 0
    else:
        return 1 

ted["personal growth"] = ted["topics"].apply(personal_growth_topic)

In [42]:
economics = re.compile(r"economics|behavioral economics")
def economics_topic(topics):
    if economics.findall(topics) == []:
        return 0
    else:
        return 1 

ted["economics"] = ted["topics"].apply(economics_topic)

In [43]:
sustainability = re.compile(r"environment|nature|sustainability|energy|climate change")
def sustainability_topic(topics):
    if sustainability.findall(topics) == []:
        return 0
    else:
        return 1 

ted["sustainability"] = ted["topics"].apply(sustainability_topic)

In [44]:
communication = re.compile(r"communication|storytelling|emotions")
def communication_topic(topics):
    if communication.findall(topics) == []:
        return 0
    else:
        return 1 

ted["communication"] = ted["topics"].apply(communication_topic)

In [45]:
entertainment = re.compile(r"entertainment|music|film|art|dance|media")
def entertainment_topic(topics):
    if entertainment.findall(topics) == []:
        return 0
    else:
        return 1 

ted["entertainment"] = ted["topics"].apply(entertainment_topic)

In [46]:
education = re.compile(r"education|children")
def education_topic(topics):
    if education.findall(topics) == []:
        return 0
    else:
        return 1 

ted["education"] = ted["topics"].apply(education_topic)

In [47]:
medicine = re.compile(r"biology|medicine|human body|medical research")
def medicine_topic(topics):
    if medicine.findall(topics) == []:
        return 0
    else:
        return 1 

ted["medicine"] = ted["topics"].apply(medicine_topic)

In [49]:
ted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4005 entries, 0 to 4004
Data columns (total 33 columns):
talk_id            4005 non-null int64
title              4005 non-null object
speaker_1          4005 non-null object
all_speakers       4001 non-null object
occupations        3483 non-null object
about_speakers     3502 non-null object
views              4005 non-null int64
recorded_date      4004 non-null object
published_date     4005 non-null object
event              4005 non-null object
native_lang        4005 non-null object
available_lang     4005 non-null object
comments           3350 non-null float64
duration           4005 non-null int64
topics             4005 non-null object
related_talks      4005 non-null object
url                4005 non-null object
description        4005 non-null object
transcript         4005 non-null object
technology         4005 non-null int64
science&future     4005 non-null int64
culture            4005 non-null int64
global issues      4005 non-null int64
social change      4005 non-null int64
health             4005 non-null int64
business           4005 non-null int64
personal growth    4005 non-null int64
economics          4005 non-null int64
sustainability     4005 non-null int64
communication      4005 non-null int64
entertainment      4005 non-null int64
education          4005 non-null int64
medicine           4005 non-null int64
dtypes: float64(1), int64(17), object(15)
memory usage: 1.0+ MB

In [40]:
ted.loc[ted["topics"].str.contains('creativity'), ["title","topics"]]

,title,topics
4,Do schools kill creativity?,"['children', 'creativity', 'culture', 'dance',..."
14,"Improvising on piano, aged 14","['creativity', 'entertainment', 'music', 'perf..."
17,"Organic design, inspired by nature","['DNA', 'biology', 'creativity', 'design', 'in..."
80,"Art with wire, sugar, chocolate and string","['Brazil', 'art', 'creativity', 'design', 'ill..."
87,How to truly listen,"['creativity', 'entertainment', 'live music', ..."
...,...,...
3904,How volumetric video brings a new dimension to...,"['entertainment', 'film', 'movies', 'technolog..."
3930,Art that reveals how technology frames reality,"['art', 'social media', 'interface design', 't..."
3955,"Go ahead, dream about the future","['science fiction', 'future', 'creativity', 's..."
3973,It's OK to feel overwhelmed. Here's what to do...,"['compassion', 'emotions', 'life', 'philosophy..."
3995,An ode to living on Earth,"['Planets', 'art', 'poetry', 'life', 'love', '..."

In [ ]:
#separating each topic keyword in one column
#ted = ted.join(ted['topics'].str.split(',', expand=True).add_prefix('topic'))

In [ ]:
#ted[["topic0","topic1","topic2","topic3"]]

In [ ]:
#removing square brackets from column "topic0"
#ted["topic0"] = ted["topic0"].str.replace('[', '')
#ted[["topic0","topic1","topic2","topic3"]]

In [ ]:
#ultimate_group_list = []
#if ted.loc[: , ["topic0","topic1","topic2","topic3","topic4"]].str.contains('business'):
    #group = "business"
    #else:
        #group = "not found"
    #ultimate_group_list.append

# Speakers: separating and classifying

In [50]:
import gender_guesser.detector as gender

In [51]:
detector = gender.Detector()

In [56]:
#separating first names and other names
ted_names = ted.join(ted['speaker_1'].str.split(' ', expand=True).add_prefix('name'))

In [57]:
ted_names = ted_names.drop(columns=['name4', 'name5', 'name6', 'name7'])

In [58]:
ted_names.head()

,talk_id,title,speaker_1,all_speakers,occupations,about_speakers,views,recorded_date,published_date,event,...,economics,sustainability,communication,entertainment,education,medicine,name0,name1,name2,name3
0,1,Averting the climate crisis,Al Gore,{0: 'Al Gore'},{0: ['climate advocate']},{0: 'Nobel Laureate Al Gore focused the world’...,3523392,2006-02-25,2006-06-27,TED2006,...,0,1,0,0,0,0,Al,Gore,None,None
1,92,The best stats you've ever seen,Hans Rosling,{0: 'Hans Rosling'},{0: ['global health expert; data visionary']},"{0: 'In Hans Rosling’s hands, data sings. Glob...",14501685,2006-02-22,2006-06-27,TED2006,...,1,0,0,0,0,0,Hans,Rosling,None,None
2,7,Simplicity sells,David Pogue,{0: 'David Pogue'},{0: ['technology columnist']},{0: 'David Pogue is the personal technology co...,1920832,2006-02-24,2006-06-27,TED2006,...,0,0,0,1,0,0,David,Pogue,None,None
3,53,Greening the ghetto,Majora Carter,{0: 'Majora Carter'},{0: ['activist for environmental justice']},{0: 'Majora Carter redefined the field of envi...,2664069,2006-02-26,2006-06-27,TED2006,...,0,1,0,0,0,0,Majora,Carter,None,None
4,66,Do schools kill creativity?,Sir Ken Robinson,{0: 'Sir Ken Robinson'},"{0: ['author', 'educator']}","{0: ""Creativity expert Sir Ken Robinson challe...",65051954,2006-02-25,2006-06-27,TED2006,...,0,0,0,1,1,0,Sir,Ken,Robinson,None

In [55]:
ted_names["speaker_1"][8]

'Rick Warren'

In [63]:
ted_names["name0"][9]

'Jehane'

In [76]:
def gender_definition(name):
    return detector.get_gender(name)

In [77]:
ted["speaker_gender"] = ted_names["name0"].apply(gender_definition)

In [79]:
ted["speaker_gender"].value_counts()

male             2045
female           1211
unknown           478
mostly_male       126
mostly_female      97
andy               48
Name: speaker_gender, dtype: int64

In [81]:
ted.head(30)

,talk_id,title,speaker_1,all_speakers,occupations,about_speakers,views,recorded_date,published_date,event,...,health,business,personal growth,economics,sustainability,communication,entertainment,education,medicine,speaker_gender
0,1,Averting the climate crisis,Al Gore,{0: 'Al Gore'},{0: ['climate advocate']},{0: 'Nobel Laureate Al Gore focused the world’...,3523392,2006-02-25,2006-06-27,TED2006,...,0,0,0,0,1,0,0,0,0,male
1,92,The best stats you've ever seen,Hans Rosling,{0: 'Hans Rosling'},{0: ['global health expert; data visionary']},"{0: 'In Hans Rosling’s hands, data sings. Glob...",14501685,2006-02-22,2006-06-27,TED2006,...,1,0,0,1,0,0,0,0,0,male
2,7,Simplicity sells,David Pogue,{0: 'David Pogue'},{0: ['technology columnist']},{0: 'David Pogue is the personal technology co...,1920832,2006-02-24,2006-06-27,TED2006,...,0,0,0,0,0,0,1,0,0,male
3,53,Greening the ghetto,Majora Carter,{0: 'Majora Carter'},{0: ['activist for environmental justice']},{0: 'Majora Carter redefined the field of envi...,2664069,2006-02-26,2006-06-27,TED2006,...,0,1,0,0,1,0,0,0,0,unknown
4,66,Do schools kill creativity?,Sir Ken Robinson,{0: 'Sir Ken Robinson'},"{0: ['author', 'educator']}","{0: ""Creativity expert Sir Ken Robinson challe...",65051954,2006-02-25,2006-06-27,TED2006,...,0,0,0,0,0,0,1,1,0,unknown
5,49,Behind the design of Seattle's library,Joshua Prince-Ramus,{0: 'Joshua Prince-Ramus'},{0: ['architect']},{0: 'Joshua Prince-Ramus is best known as arch...,1208138,2006-02-23,2006-07-10,TED2006,...,0,0,0,0,0,0,0,0,0,male
6,86,Letting go of God,Julia Sweeney,{0: 'Julia Sweeney'},"{0: ['actor', 'comedian', 'playwright']}",{0: 'Julia Sweeney creates comedic works that ...,4636596,2006-02-24,2006-07-10,TED2006,...,0,0,0,0,0,1,0,0,0,female
7,94,Let's teach religion -- all religion -- in sch...,Dan Dennett,{0: 'Dan Dennett'},"{0: ['philosopher', 'cognitive scientist']}",{0: 'Dan Dennett thinks that human consciousne...,3781244,2006-02-02,2006-07-18,TED2006,...,0,0,0,0,0,0,0,0,0,male
8,71,A life of purpose,Rick Warren,{0: 'Rick Warren'},"{0: ['pastor', 'author']}",{0: 'Pastor Rick Warren is the author of <em>T...,3998282,2006-02-25,2006-07-18,TED2006,...,0,0,1,0,0,0,0,0,0,male
9,55,My wish: A global day of film,Jehane Noujaim,{0: 'Jehane Noujaim'},{0: ['filmmaker']},{0: 'TED Prize winner Jehane Noujaim is a guts...,460994,2006-02-26,2006-07-25,TED2006,...,0,0,0,0,0,1,1,0,0,unknown
10,58,My wish: Help me stop pandemics,Larry Brilliant,{0: 'Larry Brilliant'},"{0: ['epidemiologist', 'philanthropist']}","{0: ""TED Prize winner Larry Brilliant has spen...",1265297,2006-02-23,2006-07-25,TED2006,...,1,0,0,0,0,0,0,0,0,male
11,54,My wish: A call for open-source architecture,Cameron Sinclair,{0: 'Cameron Sinclair'},"{0: ['co-founder', 'architecture for humanity']}","{0: ""2006 TED Prize winner Cameron Sinclair is...",1341358,2006-02-26,2006-07-25,TED2006,...,0,0,0,0,0,0,0,0,0,mostly_male
12,41,One Laptop per Child,Nicholas Negroponte,{0: 'Nicholas Negroponte'},{0: ['tech visionary']},"{0: ""The founder of the MIT Media Lab, Nichola...",473268,2006-02-23,2006-08-01,TED2006,...,0,0,0,0,0,0,0,1,0,male
13,65,The radical promise of the multi-touch interface,Jeff Han,{0: 'Jeff Han'},{0: ['human-computer interface designer']},{0: 'After years of research on touch-driven c...,4796806,2006-02-06,2006-08-01,TED2006,...,0,0,0,0,0,0,0,0,0,male
14,46,"Improvising on piano, aged 14",Jennifer Lin,{0: 'Jennifer Lin'},"{0: ['pianist', 'composer']}",{0: 'Concert pianist and composer Jennifer Lin...,1818509,2004-02-26,2006-08-08,TED2004,...,0,0,0,0,0,0,1,0,0,female
15,45,An 11-year-old's magical violin,Sirena Huang,{0: 'Sirena Huang'},{0: ['violinist']},{0: 'Sirena Huang started taking violin lesson...,3207121,2006-02-23,2006-08-08,TED2006,...,0,0,0,0,0,0,1,0,0,unknown
16,2,Simple designs to save a life,Amy Smith,{0: 'Amy Smith'},"{0: ['inventor', 'engineer']}","{0: 'Amy Smith designs cheap, practical fixes ...",1724438,2006-02-24,2006-08-15,TED2006,...,0,0,0,0,1,0,0,0,0,female
17,27,"Organic design, inspired by nature",Ross Lovegrove,{0: 'Ross Lovegrove'},{0: ['industrial designer']},"{0: 'Known as ""Captain Organic,"" Ross Lovegrov...",1272803,2005-02-25,2006-08-15,TED2005,...,0,0,0,0,1,0,1,0,1,male
18,37,The birth of Wikipedia,Jimmy Wales,{0: 'Jimmy Wales'},{0: ['founder of wikipedia']},{0: 'With a vision for a free online encyclope...,1388802,2005-07-14,2006-08-21,TEDGlobal 2005,...,0,1,0,0,0,0,1,0,0,male
19,25,The birth of the open-source learning revolution,Richard Baraniuk,{0: 'Richard Baraniuk'},{0: ['education visionary']},{0: 'Richard Baraniuk founded Connexions -- no...,1137837,2006-02-23,2006-08-21,TED2006,...,0,1,0,0,0,0,0,0,0,male
20,87,Nerdcore comedy,Ze Frank,{0: 'Ze Frank'},{0: ['web humorist']},{0: 'Ze Frank has been involved in online come...,7049090,2004-02-24,2006-08-25,TED2004,...,0,0,0,0,0,0,1,0,0,andy
21,21,Meet the founder of the blog revolution,Mena Trott,{0: 'Mena Trott'},"{0: ['blogger; cofounder', 'six apart']}",{0: 'Mena Trott and her husband Ben founded Si...,565712,2006-02-23,2006-08-25,TED2006,...,0,1,0,0,0,1,1,0,0,female
22,16,"Why we love, why we cheat",Helen Fisher,{0: 'Helen Fisher'},"{0: ['anthropologist', 'expert on love']}",{0: 'Anthropologist Helen Fisher studies gende...,11430399,2006-02-24,2006-09-06,TED2006,...,0,0,1,0,0,0,0,0,0,female
23,64,Happiness in body and soul,Eve Ensler,{0: 'Eve Ensler'},"{0: ['playwright', 'activist']}","{0: 'Eve Ensler created the groundbreaking ""Va...",1329537,2004-02-04,2006-09-06,TED2004,...,0,0,1,0,0,1,1,0,0,female
24,98,Why the universe seems so strange,Richard Dawkins,{0: 'Richard Dawkins'},{0: ['evolutionary biologist']},{0: 'Oxford professor Richard Dawkins has help...,4032164,2005-07-07,2006-09-12,TEDGlobal 2005,...,0,0,1,0,0,0,0,0,1,male
25,47,Chemical scum that dream of distant quasars,David Deutsch,{0: 'David Deutsch'},"{0: ['physicist', 'author']}",{0: 'A pioneer in quantum computation and quan...,2554136,2005-07-14,2006-09-12,TEDGlobal 2005,...,0,0,0,0,1,0,0,0,0,male
26,20,"Choice, happiness and spaghetti sauce",Malcolm Gladwell,{0: 'Malcolm Gladwell'},{0: ['writer']},"{0: ""Detective of fads and emerging subculture...",8677098,2004-02-26,2006-09-19,TED2004,...,0,1,0,1,0,1,1,0,0,male
27,29,The freakonomics of crack dealing,Steven Levitt,{0: 'Steven Levitt'},{0: ['economist']},"{0: ""Steven Levitt's eye-opening <em>Freakonom...",4140957,2004-02-27,2006-09-19,TED2004,...,0,1,0,1,0,0,0,0,0,male
28,97,The surprising science of happiness,Dan Gilbert,{0: 'Dan Gilbert'},{0: ['psychologist; happiness expert']},{0: 'Harvard psychologist Dan Gilbert says our...,18645468,2004-02-02,2006-09-26,TED2004,...,0,0,1,0,0,0,0,0,0,male
29,93,The paradox of choice,Barry Schwartz,{0: 'Barry Schwartz'},{0: ['psychologist']},"{0: ""Barry Schwartz studies the link between e...",14372033,2005-07-15,2006-09-26,TEDGlobal 2005,...,0,1,1,1,0,0,0,0,0,male

In [87]:
mostly_female_names = pd.Series(ted.loc[ted["speaker_gender"]=="mostly_female"]["speaker_1"])
mostly_female_names.head(30)

134               Erin McKean
177             Bernie Dunlap
353               Kary Mullis
414            Bonnie Bassler
416             Renny Gleeson
443                Mary Roach
475               Kary Mullis
550            Shashi Tharoor
575               Kiran Sethi
587             Jamie Heywood
592              Jamie Oliver
607                   The LXD
657               Dee Boersma
746             Stacey Kramer
777               Kim Gorgens
788                Kiran Bedi
803             Jody Williams
843        Courtney E. Martin
908           Jessi Arrington
918            Camille Seaman
924              Honor Harger
971          Lauren Zalaznick
1032            Leslie Dodson
1059             Lauren Hodge
1076     Gayle Tzemach Lemmon
1178            Renny Gleeson
1239           Jamie Drummond
1247          Tracy Chevalier
1277          Leslie T. Chang
1372    Leslie Morgan Steiner
Name: speaker_1, dtype: object

# getting insights

In [147]:
ted["speaker_gender"].value_counts()

male             2045
female           1211
unknown           478
mostly_male       126
mostly_female      97
andy               48
Name: speaker_gender, dtype: int64

In [89]:
ted.groupby("speaker_gender")["technology"].sum()

speaker_gender
andy              15
female           275
male             745
mostly_female     16
mostly_male       48
unknown          130
Name: technology, dtype: int64

In [91]:
ted.groupby("speaker_gender")["personal growth"].sum()

speaker_gender
andy              10
female           312
male             356
mostly_female     22
mostly_male       15
unknown           98
Name: personal growth, dtype: int64

In [134]:
most_viewed = ted.loc[ted["views"]>42000000]

In [135]:
most_viewed["speaker_gender"].value_counts()

unknown    2
male       2
female     1
Name: speaker_gender, dtype: int64

In [142]:
most_viewed[["title","speaker_1","views","topics"]].sort_values(by="views", ascending=False)

,title,speaker_1,views,topics
4,Do schools kill creativity?,Sir Ken Robinson,65051954,"['children', 'creativity', 'culture', 'dance',..."
1296,Your body language may shape who you are,Amy Cuddy,57074270,"['body language', 'brain', 'business', 'psycho..."
2062,This is what happens when you reply to spam email,James Veitch,56932551,"['comedy', 'curiosity', 'communication', 'humo..."
646,How great leaders inspire action,Simon Sinek,49730580,"['TEDx', 'business', 'entrepreneur', 'leadersh..."
796,The power of vulnerability,Brené Brown,47544833,"['TEDx', 'communication', 'culture', 'depressi..."

In [124]:
tech_df = ted.loc[ted["technology"]==1]
tech_df.sort_values("views",ascending=False).head(9)

,talk_id,title,speaker_1,all_speakers,occupations,about_speakers,views,recorded_date,published_date,event,...,health,business,personal growth,economics,sustainability,communication,entertainment,education,medicine,speaker_gender
2062,2405,This is what happens when you reply to spam email,James Veitch,{0: 'James Veitch'},{0: ['comedian and writer']},"{0: 'For James Veitch, a British writer and co...",56932551,2015-12-08,2016-01-08,TEDGlobal>Geneva,...,0,0,0,0,0,1,0,0,0,male
1080,1344,The happy secret to better work,Shawn Achor,{0: 'Shawn Achor'},{0: ['psychologist']},{0: 'Shawn Achor is the CEO of Good Think Inc....,21939075,2011-05-11,2012-02-01,TEDxBloomington,...,1,1,1,0,0,0,0,0,0,mostly_male
2220,2577,The agony of trying to unsubscribe,James Veitch,{0: 'James Veitch'},{0: ['comedian and writer']},"{0: 'For James Veitch, a British writer and co...",21911090,2016-06-29,2016-09-02,TEDSummit,...,0,1,0,0,0,1,0,0,0,male
541,685,The thrilling potential of SixthSense technology,Pranav Mistry,{0: 'Pranav Mistry'},"{0: ['director of research', 'samsung research...","{0: 'As an MIT grad student, Pranav Mistry inv...",18762338,2009-11-05,2009-11-16,TEDIndia 2009,...,0,0,0,0,0,0,0,0,0,unknown
1888,2217,The price of shame,Monica Lewinsky,{0: 'Monica Lewinsky'},{0: ['social activist']},{0: 'Monica Lewinsky advocates for a safer and...,17250806,2015-03-19,2015-03-20,TED2015,...,0,0,0,0,0,1,1,0,0,female
2386,2774,The future we're building -- and boring,Elon Musk,{0: 'Elon Musk'},{0: ['serial entrepreneur']},{0: 'Elon Musk is the CEO and product architec...,16650639,2017-04-24,2017-04-30,TED2017,...,0,1,0,0,1,0,0,0,0,male
172,206,Underwater astonishments,David Gallo,{0: 'David Gallo'},{0: ['oceanographer']},"{0: 'A pioneer in ocean exploration, David Gal...",15890639,2007-03-03,2008-01-11,TED2007,...,0,0,0,0,0,0,0,0,1,male
2121,2474,The surprising habits of original thinkers,Adam Grant,{0: 'Adam Grant'},{0: ['organizational psychologist']},{0: 'After years of studying the dynamics of s...,15655209,2016-02-16,2016-04-01,TED2016,...,0,1,1,0,0,0,0,0,0,male
1658,1959,"The new bionics that let us run, climb and dance",Hugh Herr,"{0: 'Hugh Herr', 1: 'Adrianne Haslet-Davis'}","{0: ['bionics designer'], 1: ['ballroom dancer']}","{0: 'At MIT, Hugh Herr builds prosthetic knees...",13515693,2014-03-12,2014-03-28,TED2014,...,0,0,0,0,0,0,1,0,0,male

In [125]:
type(ted["published_date"][0])

str

In [143]:
ted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4005 entries, 0 to 4004
Data columns (total 34 columns):
talk_id            4005 non-null int64
title              4005 non-null object
speaker_1          4005 non-null object
all_speakers       4001 non-null object
occupations        3483 non-null object
about_speakers     3502 non-null object
views              4005 non-null int64
recorded_date      4004 non-null object
published_date     4005 non-null object
event              4005 non-null object
native_lang        4005 non-null object
available_lang     4005 non-null object
comments           3350 non-null float64
duration           4005 non-null int64
topics             4005 non-null object
related_talks      4005 non-null object
url                4005 non-null object
description        4005 non-null object
transcript         4005 non-null object
technology         4005 non-null int64
science&future     4005 non-null int64
culture            4005 non-null int64
global issues      4005 non-null int64
social change      4005 non-null int64
health             4005 non-null int64
business           4005 non-null int64
personal growth    4005 non-null int64
economics          4005 non-null int64
sustainability     4005 non-null int64
communication      4005 non-null int64
entertainment      4005 non-null int64
education          4005 non-null int64
medicine           4005 non-null int64
speaker_gender     4005 non-null object
dtypes: float64(1), int64(17), object(16)
memory usage: 1.0+ MB

In [146]:
ted.to_csv(r'ted_topics_gender.csv')

In [151]:
top_10percent = ted.loc[ted["views"]>4000000]

In [152]:
top_10percent.to_csv(r'ted_top_10percent.csv')

In [ ]:
top_10percent